* {
  box-sizing: border-box;
}

/* variable section  */
:root {
  --text-color: #fff;
  --padding: 1rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 50vh;
  background-image: url(./images/hassaan-here-shOu5mubuiY-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: static;
  background-size: cover;
  filter: grayscale(0.8);
}

header:hover {
  filter: brightness(1);
}

main {
  padding: var(--padding);
  background-color: #213252;
  color: var(--text-color); /*using the varibale in css */
}

footer {
  padding: var(--padding);
  background-color: #213566;
  color: var(--text-color); /*using the varibale in css */
}

.skils {
}
.row {
}

/* this is use for clearing any float element  */
.row::after {
  clear: both;
  content: "";
  display: table;
}

.card {
  width: 28%;
  background-color: #655464;
  padding: var(--padding);
  margin: 1rem;
  float: left;
}
.card:hover {
  box-shadow: 0.2rem 0.4rem 1rem rgba(155, 226, 78, 0.2); /*box-shadow:  x axis y axis blur-ration  */
}

/* positioning section 
position : static/relative/fixed/absoulate /sticky  */

.parent {
  background-color: aquamarine;
  height: 40vh;
  position: relative;
}
.child {
  background-color: orange;
  color: black;
  width: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* .parent::after {
  clear: both;
  content: "";
  display: table;
} */

/* flex section start from here  */
.flex-demo {
  height: 50vh;
  background-color: rgb(22, 35, 47);
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
/* transition property starts here  */

.flex-child {
  background-color: rgb(115, 90, 45);
  min-height: 20vh;
  width: 25%;
  display: flex;
  /*justify-content: center; place the content at the center  */
  justify-content: center;
  align-items: center;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;

  /* transition: all 0.3 linear;  */
  /* we can use transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear; this three line by only this line  */
}
.flex-child:hover {
  background-color: aquamarine;
  color: black;
}

.team_sections {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.team_sections h3 {
  font-size: 2rem;
}
.team_members {
  display: grid;
  /* grid-template-columns: 25% 25% 25% 25%; */
  grid-template-columns: auto auto auto auto; /*  this will automatically divide the content in 4 part of the hole width  */
  /*  this will automatically divide the content in 4 part of the hole width  */
  padding: 2rem;
  gap: 1rem;
  background-color: rebeccapurple;
}
.team_member {
  background-color: orange;
  padding: 2rem;
  font-size: large;
}

/* media queries section start from here  */

@media screen and (max-width: 992px) {
  .skills {
    background-color: red;
  }
}
@media screen and (max-width: 768px) {
  .skills {
    background-color: green;
  }
  .row {
    flex-direction: column;
  }
  .row .card {
    width: 80%;
  }
  .team_members {
    grid-template-columns: (auto auto);
  }
}

@media screen and (max-width: 600px) {
  .skills {
    background-color: aqua;
  }
  .row {
    flex-direction: column;
  }
  .row .card {
    width: 80%;
  }
  .team_members {
    background-color: aqua;
    grid-template-columns: (
      auto
    ); /*  this will automatically divide the content in 4 part of the hole width  */

    /* width: 80%; */
  }
}

/* animation section  */
.animations {
  background-color: #655464;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
}
.animation_child {
  background-color: aquamarine;
  color: black;
  padding: 2rem;
  font-size: 1rem;
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation-name: circle-anim;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes circle-anim {
  25% {
    background-color: red;
  }

  50% {
    background-color: green;
  }

  75% {
    background-color: burlywood;
  }
  25% {
    background-color: mediumslateblue;
  }
}
